{% extends 'base.html'%}


{% block content%}
<style>
    .heading{
       text-align: center;
       padding: 5px;
       text-decoration: underline  ;
    }
    .container{
        background-color: antiquewhite;
    }
</style>

<h1 class="heading">Edit Profile</h1>
<div class="m-5">
    <form action="{% url 'profile-update' user.id%}" method="POST" class="form-control  container">
        {% csrf_token%}
        {{form.as_p}}
        <input type="submit" value="Edit" class="btn btn-outline-primary btn-lg">
    </form>

{% endblock%}
