{% extends 'base.html' %}

{% block content %}
<style>
    .cnt{
        background-color: antiquewhite;
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 ">
            <div class="card">
                <div class="card-body cnt" >
                    {% if u.id == profile.user.id %}
                        <div >
                            <div>
                                <h1>{{profile.user.username}}</h1>   
                                <hr>
                            </div>
                            <div>
                                <h3>First Name: {{profile.user.first_name}}</h3> 
                                <h3>Last Name: {{profile.user.last_name}}</h3>
                                <h3>Email: {{profile.user.email}}</h3>
                                <h3>Gender: {{profile.gender}}</h3>
                            </div>
                        </div>
                        <a href="{% url 'profile-update' u.id %}" class="btn btn-primary">Edit Profile</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
